.container {
	background: gray;
	display: flex;
	justify-content: center;
	.main {
		border: solid 1px black;
		background: #CCFFFF;
		height: 100%;
		min-width: 800px;
		button {
			height: 50px;
			width: 100%;
		}
		.counter {
			height: 50px;
			min-width: 800px;
			background: #CCFFFF;
			&:nth-child(even) {
				background: #888888;
			}
		}
		.content {
			.counter {
				text-align: center;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
		}
	}
}